<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Chuck App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" (click)="goToHome()">Home</button>
  <button mat-raised-button color="accent" routerLink="categories">Categories</button>
  <button mat-raised-button color="accent" routerLink="create">Create Joke</button>
  <button mat-raised-button color="accent" routerLink="details">Details Module</button>
</mat-toolbar-row>
</mat-toolbar>


<!-- <button (click)="showCardClicked()">SHow card</button>

<app-joke-card *appDupicate="showCard" [joke]="joke" (buttonClicked)="buttonClicked($event)"></app-joke-card>



<span [ngSwitch]="joke">
  <p *ngSwitchCase="'some string'"> No messages! </p>
  <p *ngSwitchCase="'hello'"> {{ joke }} </p>
  <ng-container *ngSwitchDefault>
    <p *ngFor="let item of jokes">{{ item }}</p>
  </ng-container>
</span> -->

<router-outlet></router-outlet>
